.Rproj.user
.Rhistory
.RData
.Ruserdata
*Rcheck
seqtsne.Rproj
vignettes/tsne_images
tsne_images
*.pdf
tmp*
*save
dev_animate.R
*.gif
vignettes/*html
run_cov.R
vignettes/seqtsne_overview_full.Rmd
vignettes/seqtsne_overview_hesc.Rmd
vignettes/seqtsne_overview_k4.Rmd
vignettes/seqtsne_overview_wide.Rmd
inst/extdata/*bai
dev_graph_based_clustering.R
dev_tsne_vs_pca.R
*.png
auth.log.trouble.txt
figures_*
output_*
dev_object.ssvQC.plotSignal.Rds
IkarosChip_QcConfigFeatures.csv
IkarosChip_QcConfigSignal.csv
selected_ids.bed
dev_object.ssvQC.plotSignal.Rds
